Language: Cpp
BasedOnStyle: None
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
AlignEscapedNewlines: Left
ColumnLimit: 0
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
