# Ignore all .o files
*.o

# Ignore gcm.cache folder
build/
.cache/
CMakeCache.txt
build.ninja
cmake_install.cmake
compile_commands.json
CMakeFiles/

# Ignore the VulkanApp executable
VulkanApp

# Ignore the log file.
last_run_log.txt

test.cpp

app